
<div class="login-page">
    <div class="login-box">
        <div class="text-box">
            <b>Login</b>
        </div>
        <hr>
        <form (submit) = "loginUser($event)"class="input-wrapper">
            <input class = "userName" placeholder="Username" id = "userName">
            <input 
                type="password" 
                id="password" 
                placeholder="Password"
                minlength="8" 
                required>
            <input class = "email" placeholder="Email" id = "email">
            <input type = "submit" value = "Login">
        </form>
        <div class="button-wrapper">
            <a class = "forgot" [routerLink]="'/registration'">Don`t have an account? Sign up!</a>
            <!-- <button class = "login-btn" [routerLink]="'/board'">Login</button> -->
        </div>
    </div>
</div>
