
<div class="login-page">
    <div class="login-box">
        <div class="text-box">
            <b>Login</b>
        </div>
        <hr>
        <div class="input-wrapper">
            <input class = "email" placeholder="Email">
            <input class = "password" placeholder="Password">
        </div>
        <div class="button-wrapper">
            <a class = "forgot">Forgot Password?</a>
            <button class = "login-btn" [routerLink]="'/board'">Login</button>
        </div>
    </div>


</div>
