.to-do-item{
    display: flex;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    align-items: center;
    padding: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(black, 0.1);
    border-radius: 5px;

    &.completed{
        color: rgba(gray, 0.5);
    }
}

.to-do-item .check-box{
    display: flex;
    border: 2px solid #eee;
    border-radius: 50%;
    
    width: 28px;
    height: 28px;
    margin-right: 25px;

    transition: background-color 0.2s;
    flex-shrink: 0;
    
    .material-icons{
        font-size: 20px;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s;
    }
}

.to-do-item:hover .check-box{
    background: #eee;
    i.material-icons{
        opacity: 0.3;
    }
}

.to-do-item.completed .check-box{
    background: rgba(25, 250, 200);
    i.material-icons{
        opacity: 1;
        color: black;
    }
}

.to-do-item .controls-box{
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 10px;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s, visibility 0.2s;
}

.controls-box .controls-button{
    display: flex;
    background: rgba(gray, 0.06);
    padding: 7px 10px;
    border-radius: 10px;

    &:hover{
        background: rgba(gray, 0.1);
        color: black;
    }

    &:active{
        background: rgba(gray, 0.2);
    }

    i.material-icons{
        font-size: 20px;
    }
}

.controls-box .controls-button.is-dangerous:hover{
    i.material-icons{
        color: rgb(155, 27, 27);
    }
}

.to-do-item:hover{
    .controls-box{
        opacity: 1;
        visibility: visible;
        transition-delay: 0.3s;
    }
}