.title-text{
    padding: 20px;
    color: black;
    font-family: "Garamond", Times, serif;
    font-size: 25px;
}

p{
    color: gray;
}

.filters{
    padding: 0 0 20px 20px
}

.filter{
    position: relative;
    bottom: 56px;
    font-size: large;
    left: 130px;
    color: #3b73af;
}