<h1 class="title">Edit a task</h1>
<div mat-dialog-content>
    <form #form = "ngForm" (ngSubmit) = "onFormSubmit(form)">
        <div class="field">
            <div class="control">
                <input 
                type="text" 
                class="input" 
                [ngModel] = "todo.text" 
                name = "text" 
                #todoTextfield = "ngModel"
                required
                minlength = "2"
                maxlength = "100"
                placeholder = "Type your task here...">
            </div>

            <div *ngIf = "todoTextfield.invalid">
                <p class="help is-danger" *ngIf = "todoTextfield.errors?.required">Form is invalid!</p>
                <p class="help is-danger" *ngIf = "todoTextfield.errors?.minlength">It should be at least 2 characters</p>
              </div>

            <br>

            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button type = "button" class="button is-light" (click) = "close()">Cancel</button>
                </div>
                <div class="control">
                    <button type = "submit" class="button alt-gradient-button">
                        <i class="material-icons">save</i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
